<div class="form-group">
  <div>
    <input type="hidden" name="basic[id]" value="{{ user.id }}">
  </div>
  <label class="col-sm-2 control-label" for="number">员工工号:</label>
  <div class="col-sm-2 controls">
    <input id="number" class="form-control" type="text" name="basic[number]" value="{{ user.number }}" disabled="disabled">
  </div>
  <label class="col-sm-2 control-label" for="trueName">姓  名:</label>
  <div class="col-sm-3 controls">
    <input id="trueName" class="form-control" type="text" name="basic[trueName]" value="{{ basic.trueName }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="department">所属部门:</label>
  <div class="col-sm-2 controls" id="department">
    <select class="form-control"  name="basic[departmentId]" {% if not app.user.isAdmin() and app.user.isLeader() %}disabled="disabled"{% endif %}
    >
      {{ select_options(departmentsChoices, basic.departmentId) }}
    </select>
  </div>
  <label class="col-sm-2 control-label" for="rank">职 级:</label>
  <div class="col-sm-3 controls">
    <input id="rank" class="form-control" type="text" name="basic[rank]" value="{{ basic.rank }}" {% if not app.user.isAdmin() %}disabled="disabled"{% endif %}>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="phone">手 机:</label>
  <div class="col-sm-2 controls">
    <input id="phone" class="form-control" type="text" name="basic[phone]" value="{{ basic.phone }}">
  </div>

  <label class="col-sm-2 control-label" for="email">邮 箱:</label>
  <div class="col-sm-3 controls">
    <input id="email" class="form-control" type="text" name="basic[email]" value="{{ basic.email }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">性 别:</label>
    <div class="radio col-sm-2">
      <label>
        <input type="radio" name="basic[gender]" id="gender" value="male" {% if basic.gender == 'male' %}checked{% endif %}>男
      </label>
      <label>
        <input type="radio" name="basic[gender]" id="gender" value="female" {% if basic.gender == 'female' %}checked{% endif %}>女
      </label>
    </div>

  <label class="col-sm-2 control-label">出生日期:</label>
  <div class="col-sm-3 controls">
      <input type="text" id="bornTime" class="form-control time" name="basic[bornTime]" placeholder="日期格式：年-月-日" value="{{ basic.bornTime|date('Y/m/d') }}"/>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-2 control-label" for="nation">民 族:</label>
  <div class="col-sm-2 controls">
    <input id="nation" class="form-control" type="text" name="basic[nation]" value="{{ basic.nation }}">
  </div>
  <label class="col-sm-2 control-label" for="native">籍 贯:</label>
  <div class="col-sm-3 controls">
    <textarea id="native" style="resize:vertical" class="form-control" type="text" name="basic[native]">{{ basic.native }}</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="height">身 高:</label>
  <div class="col-sm-2 controls">
    <input id="height" class="form-control" type="text" name="basic[height]" value="{{ basic.height }}">
  </div>
  <label class="col-sm-2 control-label" for="weight">体 重:</label>
  <div class="col-sm-3 controls">
    <input id="weight" class="form-control" type="text" name="basic[weight]" value="{{ basic.weight }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="blood">血 型:</label>
  <div class="col-sm-2 controls">
    <select class="form-control"  name="basic[blood]" >
      {{ select_options(dict('blood'), basic.blood) }}
    </select>
  </div>
  <label class="col-sm-2 control-label" for="education">文化程度:</label>
  <div class="col-sm-3 controls" id="education">
    <select class="form-control"  name="basic[education]">
      {{ select_options(dict('education'), basic.education) }}
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="prefession">专业:</label>
  <div class="col-sm-2 controls">
    <input id="prefession" class="form-control" type="text" name="basic[prefession]" value="{{ basic.prefession }}">
  </div>
  <label class="col-sm-2 control-label" for="marriage">婚姻:</label>
  <div class="col-sm-3 controls">
    <select class="form-control"  name="basic[marriage]">
      {{ select_options(dict('marriage'), basic.marriage) }}
    </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="address">家庭住址:</label>
  <div class="col-sm-2 controls">
    <textarea id="address" style="resize:vertical" class="form-control" type="text" name="basic[address]">{{ basic.address }}</textarea>
  </div>
  <label class="col-sm-2 control-label" for="postcode">邮编:</label>
  <div class="col-sm-3 controls">
    <input id="postcode" class="form-control" type="text" name="basic[postcode]" value="{{ basic.postcode }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="professionTitle">职 称:</label>
  <div class="col-sm-2 controls">
    <input id="professionTitle" class="form-control" type="text" name="basic[professionTitle]" value="{{ basic.professionTitle }}" {% if not app.user.isAdmin() %}disabled="disabled"{% endif %}>
  </div>
  <label class="col-sm-2 control-label" for="Idcard">身份证:</label>
  <div class="col-sm-3 controls">
    <input id="Idcard" class="form-control" type="text" name="basic[Idcard]" value="{{ basic.Idcard }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="householdType">户口性质:</label>
  <div class="col-sm-2 controls">
    <input id="householdType" class="form-control" type="text" name="basic[householdType]" value="{{ basic.householdType }}">
  </div>
  <label class="col-sm-2 control-label" for="residence">户口所在地:</label>
  <div class="col-sm-3 controls">
    <input id="residence" class="form-control" type="text" name="basic[residence]" value="{{ basic.residence }}">
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label" for="recordPlace">档案存放地:</label>
  <div class="col-sm-2 controls">
    <input id="recordPlace" class="form-control" type="text" name="basic[recordPlace]" value="{{ basic.recordPlace }}">
  </div>
  <label class="col-sm-2 control-label" for="formerLaborShip">与原工作的劳动关系:</label>
  <div class="col-sm-3 controls">
    <input id="formerLaborShip" class="form-control" type="text" name="basic[formerLaborShip]" value="{{ basic.formerLaborShip }}">
  </div>
</div>

<div class="form-group"> 
  <label class="col-sm-2 control-label">入职时间:</label>
  <div class="col-sm-2 controls">
      <input type="text" id="joinTime" class="form-control time" name="basic[joinTime]" placeholder="日期格式：年-月-日" value="{{ user.joinTime|date('Y/m/d') }}" {% if not app.user.isAdmin() %}disabled="disabled"{% endif %}/>
  </div>
  <label class="col-sm-2 control-label" for="politics">政治面貌:</label>
  <div class="col-sm-3 controls">
    <select class="form-control" name="basic[politics]">
      {{ select_options(dict('politics'), basic.politics) }}
    </select>    
  </div>
</div>